<div class="d-flex align-items-center flex-column">
    <div class="myElement"></div>
    <h2>{{isLoginMode?"Giriş Yap":"Hesap Oluştur"}}</h2>
    <div *ngIf="errorMessage.length>1" class="alert alert-danger my-3">
        {{errorMessage}}
    </div>
    <form #form="ngForm" (ngSubmit)="handleAuth(form)" class="w-50">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" ngModel name="email" id="email" class="form-control" required email>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" ngModel name="password" id="password" class="form-control" required minlength="8">
        </div>
        <div class="mb-3" *ngIf="!isLoginMode">
            <label for="repassword" class="form-label">Password Again</label>
            <input type="password" ngModel name="repassword" id="repassword" class="form-control" required minlength="8">
        </div>
        <div class="d-flex flex-column gap-2">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary w-100">{{isLoginMode?"Giriş Yap":"Hesap Oluştur"}}</button>
            <button type="button" class="btn btn-outline-primary align-self-start" (click)="toggleMode()">
                {{isLoginMode?"Henüz bir hesabın yok mu? Kayıt Ol.":"Zaten bir hesabın var mı? Giriş Yap."}}
            </button>
        </div>
    </form>
</div>
